@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

<div class="HomeLayoutAdmin dashboard" style=" width: 100%; text-align: center; padding: 18%; color: #333333;">
        <h1>Bienvenido a la aplicación de Pets Inc</h1>
        <h2>Que deseas realizar?</h2>
    <img id="no" src="~/media/img/perroGift.gif" style="max-width: 40%; height: auto; margin-left: 6%; border-radius: 15px;">
</div>