#contenedorcliente {
    text-align: center;
}

#contenedorcliente h2 {
        margin-bottom: 20px; /* Ajusta según sea necesario */
}

#contegrafico {
    width: 98%; 
    margin-bottom: 20px; /* Ajusta según sea necesario */
    height: 45%;
}

#graficotemp {
    width: 65%;
    margin: 0 auto; /* Centrar horizontalmente */
    height: 35%;
}

#miGrafico {
    width: 60%;
    height: 30%;
}

#botones {
    margin:20px;
    display: flex;
    justify-content: center;
}

    #botones input {
        margin: 0 10px; /* Espacio entre los botones, ajusta según sea necesario */
    }
