/* graficodispositivo.css */

/* Aplicar estilos al contenedor de la gráfica */
#miGrafico {
    width: 60%; /* Ancho del 80% de la pantalla */
    height: 50vh; /* Altura del 60% de la pantalla (viewport height) */
    margin: 0 auto; /* Centrar horizontalmente */
}

/* Otros estilos si es necesario */
