@{
    ViewBag.Title = "";
    Layout = "../Shared/_LayoutDashboard.cshtml";
}

<section id="edicionMascota">
    <h1 class="titulo">Edición de Mascotas</h1>


    <div class="contenedor mascota-info" style="margin-top: -3%;">
        <div class="contenedor-registro-mascota">
            <form id="formularioEdicionMascotas" action="" class="registro-mascota">
                <label class="col-sm-2 col-form-label titulo-perfil">Nombre de la mascota:</label>
                <input type="text" class="form-control" id="nombreMascotaEditar" style="margin-bottom: 2%;">
                <label class="col-sm-2 col-form-label titulo-perfil">Raza:</label>
                <input type="text" class="form-control" id="razaMascotaEditar" style="margin-bottom: 2%;">
                <label class="col-sm-2 col-form-label titulo-perfil">Fecha de nacimiento:</label>
                <input type="date" class="form-control" id="fechaNacimientoMascotaEditar">
                <label class="col-sm-2 col-form-label titulo-perfil">Nivel de agresividad:</label>
                <input type="number" class="form-control" id="agresividadMascotaEditar">
                <label class="col-sm-2 col-form-label titulo-perfil">Estado:</label>
                <select class="form-select" id="selecionMascota">
                    <option selected>Activo</option>
                    <option>Inactivo</option>
                </select>
                <label class="col-sm-2 col-form-label titulo-perfil">Descripción:</label>
                <textarea class="form-control" id="descripcionMascotaEditar" rows="3" style="height: 145px;" spellcheck="false"></textarea>
                <div class"fotos-registro-mascotas">
                    <label class="col-sm-2 col-form-label titulo-perfil">Fotos de la mascota:</label>
                    <input type="file" class="form-control fotos-mascotas-formulario" id="fotoMascotaEditar" onchange="mostrarImagen(this, 'imagenMascotaEditar')">
                    <input type="file" class="form-control fotos-mascotas-formulario" id="fotoMascotaEditar2" onchange="mostrarImagen(this, 'imagenMascotaEditar2')">

                </div>

                <button type="submit" class="btn btn-primary" id="guardarMascotaEditar">Guardar</button>
                <a asp-controller="Mascotas" asp-action="MisMascotas" class="btn btn-primary" id="cancelar">Cancelar</a>
            </form>
        </div>

        <div id="contenedorImagenes">
            <h2>Visualización de imagenes</h2>
            <div class="contenedorVisualizacionImagenMascota">
                <img id="imagenMascota" class="imagen-mascota" src="~/media/img/huella.png" alt="Imagen de la mascota 2">
                <img id="imagenMascota2" class="imagen-mascota" src="~/media/img/huella.png" alt="Imagen de la mascota 1">
            </div>
        </div>

    </div>
</section>


<script src="~/js/pages/mascotas/RegistroMascotas.js" asp-append-version="true"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        validarFormularioEdicionMascotas()

        // Lógica para mostrar imágenes después de que el DOM se haya cargado
        document.getElementById('fotoMascotaEditar').addEventListener('change', function () {
            mostrarImagen(this, 'imagenMascota');
        });

        document.getElementById('fotoMascotaEditar2').addEventListener('change', function () {
            mostrarImagen(this, 'imagenMascota2');
        });
    });
</script>