@{
    ViewBag.Title = "";
    Layout = "../Shared/_LayoutDashboard.cshtml";
}

<div id="contenedorListaMascotas">
    <h2>Mascotas Actuales</h2>
    <table class="table table-hover tabla-mascotas-registro">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col">Edad</th>
                <th scope="col">Agresividad</th>
                <th scope="col">Estado</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <td>Toto</td>
                <td>Labrador</td>
                <td>4 meses</td>
                <td>1</td>
                <td> Activo </td>
                <td> <a asp-controller="Mascotas" asp-action="EdicionMascotas" type="submit" class="btn btn-primary" id="boton-enviar">Editar</a> </td>
            </tr>
            <tr class="table-active">
                <td>Yoda</td>
                <td>Bull Terrier</td>
                <td>10 años</td>
                <td>4</td>
                <td> Activo </td>
                <td> <a asp-controller="Mascotas" asp-action="EdicionMascotas" type="submit" class="btn btn-primary" id="boton-enviar">Editar</a> </td>
            </tr>
            <tr class="table-active">
                <td>Kobe</td>
                <td>Labrador</td>
                <td>3 años</td>
                <td>3</td>
                <td> Activo </td>
                <td> <a asp-controller="Mascotas" asp-action="EdicionMascotas" type="submit" class="btn btn-primary" id="boton-enviar">Editar</a> </td>
            </tr>
        </tbody>
    </table>
</div>