<section id="registroServicios">
    <h1 class="titulo">Registro de Servicios</h1>
    <div class="contenedor-registro-servicio">
        <form action="" class="registro-servicio">
            <label class="col-sm-2 col-form-label titulo-perfil">Nombre del servicio:</label>
            <input type="text" class="form-control" id="nombre" style="margin-bottom: 2%;">
            <label class="col-sm-2 col-form-label titulo-perfil">Descripción:</label>
            <textarea class="form-control" id="descripcion" rows="3" style="height: 145px;" spellcheck="false"></textarea>
            <label class="col-sm-2 col-form-label titulo-perfil">Precio:</label>
            <input type="text" class="form-control" id="fechaNacimiento">

            <div class"fotos-registro-servicios">
                <label class="col-sm-2 col-form-label titulo-perfil">Foto del servicio:</label>
                <input type="file" class="form-control foto-servicio-formulario" id="fotoServicio">
            </div>
            <button type="submit" class="btn btn-primary" id="boton-enviar">Registrar</button>
        </form>
    </div>

    <div class="svg-wave" style="height: 150px; overflow: hidden; margin-top: -6%;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: #2C3E50;"></path>
        </svg>
    </div>
</section>