@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/pages/reportesAdm/ReporteFinanciero.js"></script>
}

@{
    ViewBag.Title = "";
    Layout = "../Shared/_LayoutDashboard.cshtml";
}

<div class="row">
    <h2 style="margin-top: 3%">Reporte de ventas totales</h2>
    <div class="col-md-6">
        <h3>Ingresos por tipo de mascota</h3>
        <canvas id="barChart"></canvas>
    </div>
    <div class="col-md-6">
        <h3>Utilización de dispositivos por tipo de mascota</h3>
        <canvas id="pieChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 style="margin-top: 3%">Reporte de ventas totales</h3>
        <div id="myGrid" style="height: 200px; width: 100%; margin-bottom: 10%;" class="ag-theme-alpine"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      @*   <div id="myGrid" style="height: 200px; width: 100%; margin-bottom: 10%;" class="ag-theme-alpine"></div> *@
        <div id="ingresosTotalesContainer" style="margin-top: 10px;"></div>
    </div>
</div>
