@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/pages/Registros/RegistroUsuario.js"></script>
}
@model DTO.Models.Usuario
@{
    ViewBag.Title = "";
    Layout = "../Shared/_LayoutLandingVacio.cshtml";
}

<section id="regitroUsuario" style="margin-top: 8%;">
    <h1 class="titulo" style="text-align: center;">Registro de Usuario</h1>

    <div>
        <form id="formularioRegistroUsuario" style="max-width: 60%; margin-left: 20%; background-color: #fbf9ff; padding: 2%; border-radius: 2%;">

            <label class="col-sm-2 col-form-label label-registro-usuario">Correo electrónico:</label>
            <input type="text" class="form-control input-registro-usuario" id="txtCorreoElectronico">

            <label class="col-sm-2 col-form-label label-registro-usuario">Nombre:</label>
            <input type="text" class="form-control input-registro-usuario" id="txtNombre">

            <label class="col-sm-2 col-form-label label-registro-usuario">Primer apellido:</label>
            <input type="text" class="form-control input-registro-usuario" id="txtPrimerApellido">

            <label class="col-sm-2 col-form-label label-registro-usuario">Segundo apellido:</label>
            <input type="text" class="form-control input-registro-usuario" id="txtSegundoApellido">

            <label class="col-sm-2 col-form-label label-registro-usuario">Numero de identificación:</label>
            <input type="text" class="form-control input-registro-usuario" id="txtDocumentoIdentidad">

            <label class="col-sm-2 col-form-label label-registro-usuario">Teléfono:</label>
            <input type="text" class="form-control input-registro-usuario" id="txtTelefono">

            <label class="col-sm-2 col-form-label label-registro-usuario">Dirección:</label>
            <input type="text" class="form-control input-registro-usuario" id="txtDireccion">

            <label class="col-sm-2 col-form-label label-registro-usuario">Foto:</label>
            <input type="text" class="form-control input-registro-usuario" id="txtFoto">

            
            <button type="button" class="btn btn-primary" style="text-align: center; margin-left: 40%; margin-top: 5%;" id="btnRegistrar">Registrar</button>
            <button type="reset" class="btn btn-primary" style="text-align: center; margin-left: 40%; margin-top: 5%;" id="btnReset">Limpiar</button>
        </form>
    </div>
</section>

<div class="svg-wave" style="height: 150px; overflow: hidden; margin-top: 20%;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
              style="stroke: none; fill: #593196;"></path>
    </svg>
</div>