@{
    ViewBag.Title = "";
    Layout = "../Shared/_LayoutDashboard.cshtml";
}

<section id="perfilUsuarioEditar">
    <h1 class="titulo">Edición de Perfil</h1>


    <div class="contenedor perfil-info">
        <div class="contenedor-registro-mascota" style="margin-left: 5%;">
            <form action="" id="edicionPerfil" class="registro-mascota">
                <label class="col-sm-2 col-form-label titulo-perfil">Nombre:</label>
                <input type="text" class="form-control" id="nombrePerfilEdit" style="margin-bottom: 2%;">
                <label class="col-sm-2 col-form-label titulo-perfil">Primer Apellido:</label>
                <input type="text" class="form-control" id="apellido1PerfilEdit" style="margin-bottom: 2%;">
                <label class="col-sm-2 col-form-label titulo-perfil">Segundo Apellido:</label>
                <input type="text" class="form-control" id="apellido2PerfilEdit" style="margin-bottom: 2%;">
                <label class="col-sm-2 col-form-label titulo-perfil">Documento de identidad:</label>
                <input type="text" class="form-control" id="documentoIdentidadPerfilEdit" style="margin-bottom: 2%;">
                <label class="col-sm-2 col-form-label titulo-perfil">Número de teléfono:</label>
                <input type="text" class="form-control" id="telefonoPerfilEdit">
                <label class="col-sm-2 col-form-label titulo-perfil">Fecha de nacimiento:</label>
                <input type="date" class="form-control" id="fechaNacimientoPerfilEdit">
                <label class="col-sm-2 col-form-label titulo-perfil">Dirección:</label>
                <input type="text" class="form-control" id="direccionPerfilEdit">
                <label class="col-sm-2 col-form-label titulo-perfil">Foto de perfil:</label>
                <input type="file" class="form-control fotos-mascotas-formulario" id="fotoPerfilEdit">
     
                <button type="submit" class="btn btn-primary" id="botonGuardarPerfilEdit">Guardar</button>
               <a asp-controller="Perfil" asp-action="VistaPerfil" class="btn btn-primary" id="botonCancelarPerfilEdit">Cancelar</a>
            </form>

        </div>

        <div style="width:50%; margin-top: 5%; text-align: center;">
            <img id="imagenfotoPerfilEdit" src="~/media/img/perfildefault.png">
        </div>
    </div>

    <div class="svg-wave" style="height: 150px; overflow: hidden; margin-top: -6%;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: #2C3E50;"></path>
        </svg>
    </div>
</section>

<script src="~/js/pages/perfil/Perfil.js" asp-append-version="true"></script>

        <script>
    document.addEventListener('DOMContentLoaded', function () {

        validarFormularioEdicionPerfil();

        // Lógica para mostrar imágenes después de que el DOM se haya cargado
        document.getElementById('fotoPerfilEdit').addEventListener('change', function () {
            mostrarImagen(this, 'imagenfotoPerfilEdit');
        });

    });


        </script>