@{
    ViewBag.Title = "";
    Layout = "../Shared/_LayoutDashboard.cshtml";
}

<script src="~/js/pages/perfil/editarperfil.js"></script>

<section id="edicionPerfil">
    <h1 class="titulo">Edición de Perfil</h1>

    <div class="contenedor perfil-info">
        <div class="contenedor-editar-perfil">
            <form id="formularioEdicionPerfil" action="" class="editar-perfil">
                <label class="col-sm-2 col-form-label titulo-perfil">Correo electrónico:</label>
                <input type="text" class="form-control" id="txtInputCorreoElectronicoEditar" style="margin-bottom: 2%;">
                <label class="col-sm-2 col-form-label titulo-perfil">Teléfono:</label>
                <input type="text" class="form-control" id="txtInputTelefonoEditar" style="margin-bottom: 2%;">
                <label class="col-sm-2 col-form-label titulo-perfil">Dirección:</label>
                <input type="text" class="form-control" id="txtInputDireccionEditar" style="margin-bottom: 2%;">
                <div class"fotos-registro-perfil">
                    <label class="col-sm-2 col-form-label titulo-perfil">Foto:</label>
                    <input type="file" class="form-control fotos-perfil-formulario" id="fotoPerfilEditar" onchange="mostrarImagen(this, 'imagenPerfil')">
                </div>
                <button type="submit" class="btn btn-primary" id="btnGuardarPerfilEditar">Guardar</button>
                <a asp-controller="Perfil" asp-action="VistaPerfil" class="btn btn-primary" id="btnCancelar">Cancelar</a>
            </form>
        </div>

        <div id="contenedorImagenes">
            <h2>Visualización de imágen</h2>
            <div class="contenedorVisualizacionImagenPerfil">
                <img id="imagenPerfil" class="imagen-perfil" src="~/media/img/huella.png" alt="Imagen del usuario">
            </div>
        </div>
    </div>

    <div class="svg-wave" style="height: 150px; overflow: hidden; margin-top: 10%;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: #2C3E50;"></path>
        </svg>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const usuarioIdSeleccionada = localStorage.getItem('usuarioIdSeleccionada');

        if (usuarioIdSeleccionada) {
            // Realiza la lógica para cargar los datos en el formulario utilizando usuarioIdSeleccionada
            cargarDatosUsuarioEnFormulario(usuarioIdSeleccionada);

            // Limpia el ID almacenado en localStorage después de usarlo
            localStorage.removeItem('usuarioIdSeleccionada');
        }
        validarFormularioEdicionPerfil()

        // Lógica para mostrar imágenes después de que el DOM se haya cargado
        document.getElementById('fotoPerfilEditar').addEventListener('change', function () {
            mostrarImagen(this, 'imagenPerfil');
        });

        
    });
</script>