@model DTO.Models.Usuario
@inject IHttpContextAccessor Accesor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pets Inc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css" />

    <!-- Enlace a la fuente Montserrat -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Estilos según lo que pusimos en la IAS -->
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px; 
        }

        h1 {
            font-size: 28px; 
        }

        h2 {
            font-size: 22px; 
        }
    </style>



</head>

<body>
    <header>
        <nav id="barra" class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/media/img/logoPI.png" style="height: 35px; width: 37px;"> Pets Inc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item ">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Perfil</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Editar perfil</a>
                                <a class="dropdown-item" href="#">Cambio de contraseña</a>
                            </div>
                        </li>

                        @if (Accesor.HttpContext.Session.GetString("rol") == "Administrador")
                        {
                            <li class="nav-item admin-options">
                                <a class="nav-link" href="#">Gestión de usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="ServiciosAdmin" asp-action="ServiciosAdminList">Gestión de servicios</a>
                            </li>
                            <li class="nav-item admin-options">
                                <a class="nav-link" href="#">Gestión de dispositivos</a>
                            </li>
                            <li class="nav-item dropdown">
                            <li class="nav-item admin-options">
                                <a class="nav-link" href="#">Configuración de precios</a>
                            </li>
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Reportes Financieros</a>
                                    <a class="dropdown-item" href="#">Tipos de reportes restantes</a>
                                    <a class="dropdown-item" href="#">Tipos de reportes restantes</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            if (Accesor.HttpContext.Session.GetString("rol") == "Cliente")
                            {
                                <li class="nav-item admin-options">
                                    <a class="nav-link" href="#">Gestión de Mascotas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Gestión de Reservas</a>
                                </li>
                                <li class="nav-item admin-options">
                                    <a class="nav-link" href="#">Reportes</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item admin-options">
                                    <a class="nav-link" href="#">Gestión de Paquetes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Gestión de Reservas</a>
                                </li>
                            }
                        }
                       @*  <li class="nav-item">
                            <text>Bienvenido: @Accesor.HttpContext.Session.GetString("nombre")</text>
                            <a asp-controller="Login" asp-action="Logout" class="btn btn-secondary my-2 my-sm-0" type="text/asp">Logout</a>
                        </li> *@
                    </ul>
                    <div class="nav-bottoms" style="margin-right: 1%;">
                        <a asp-controller="Login" asp-action="Logout" class="btn btn-secondary my-2 my-sm-0" type="text/asp">Cerrar Sesión</a>
                    </div>
                </div>
        </nav>
    </header>



    <div class="containerLayoutAdmin" style=" width: 100%;">
        <main role="main" class="pb-3" style=" margin-bottom: -2%;">
            @RenderBody()
        </main>
    </div>


    <section id="registroDeReserva">
        <div class="text-center">
            <h1 class="display-4">Reservas</h1>
        </div>
        <div class="form-group">
            <!--Formulario para mostrar datos de la Lista-->
            <form id="frmCrearReserva">
                <div>
                    <label for="txtNombreCliente">Nombre del Cliente:</label>
                    <select id="listaClientes" class="form-select">
                </div>
                <div>
                    <label for="txtNombreMascota">Nombre de la Mascota:</label>
                    <select id="listaMascotas" class="form-select">
                </div>
                <div id="serviciosConPaquetes">
                    <div>
                        <label for="txtServicios">Servicios: </label>
                        <select id="listaServicios" class="form-select" multiple>
                            <option value="1">Servicio 1</option>
                            <option value="2">Servicio 2</option>
                        </select>
                    </div>
                    <div>
                        <label for="txtPaquetes">Paquetes : </label>
                        <select id="listaPaquetes" class="form-select" multiple>
                            <option value="1">Paquete 1 - Descripción 1</option>
                            <option value="2">Paquete 2 - Descripción 2</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success" id="btnCreate">Crear Reserva</button>
                    <button type="reset" class="btn btn-info" id="btnReset">Limpiar</button>
                </div>
            </form>
        </div>





@* 
        <div class="contenedor-datos-reserva" style="display: block; text-align: start; margin-left: 5%">               
           <h2 class="col-sm-2 col-form-label titulo-perfil">Nombre</h2>
            <input id="nombre" type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="Limberth Isaias Hernandez Mora">
            <h2 class="col-sm-2 col-form-label titulo-perfil">Identificación</h2>
            <input id="identificación" type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="20990111">
            <h2 class="col-sm-2 col-form-label titulo-perfil">Teléfono</h2>
            <input id="telefono" type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="88888822">
            <h2 class="col-sm-2 col-form-label titulo-perfil">Correo Electrónico</h2>
            <input id="email" type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="usuario@inicial.com">
        </div>


            <div id="datos" style="margin-top: 6px">
                <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>

            <div>
                 <img src=" ~/media/img/perfilDefault.png" style="height: auto; width: 100%;">
            </div>
        </div> *@
    </section>


@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Web_UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
