@model DTO.Models.Usuario
@inject IHttpContextAccessor Accesor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pets Inc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css" />

    <!-- Enlace a la fuente Montserrat -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Estilos según lo que pusimos en la IAS -->
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px; 
        }

        h1 {
            font-size: 28px; 
        }

        h2 {
            font-size: 22px; 
        }
    </style>



</head>

<body>
    <header>
        <nav id="barra" class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/media/img/logoPI.png" style="height: 35px; width: 37px;"> Pets Inc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item ">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Perfil</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Editar perfil</a>
                                <a class="dropdown-item" href="#">Cambio de contraseña</a>
                            </div>
                        </li>

                        @if (Accesor.HttpContext.Session.GetString("rol") == "Administrador")
                        {
                            <li class="nav-item admin-options">
                                <a class="nav-link" href="#">Gestión de usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="ServiciosAdmin" asp-action="ServiciosAdminList">Gestión de servicios</a>
                            </li>
                            <li class="nav-item admin-options">
                                <a class="nav-link" href="#">Gestión de dispositivos</a>
                            </li>
                            <li class="nav-item dropdown">
                            <li class="nav-item admin-options">
                                <a class="nav-link" href="#">Configuración de precios</a>
                            </li>
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
                                <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Reportes" asp-action="ReportesAdm">Reportes Financieros</a>
                                    <a class="dropdown-item" href="#">Tipos de reportes restantes</a>
                                    <a class="dropdown-item" href="#">Tipos de reportes restantes</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            if (Accesor.HttpContext.Session.GetString("rol") == "Cliente")
                            {
                                <li class="nav-item admin-options">
                                    <a class="nav-link" href="#">Gestión de Mascotas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Gestión de Reservas</a>
                                </li>
                                <li class="nav-item admin-options">
                                    <a class="nav-link" href="#">Reportes</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item admin-options">
                                    <a class="nav-link" href="#">Gestión de Paquetes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Gestión de Reservas</a>
                                </li>
                            }
                        }
                    </ul>
                    <div class="nav-bottoms" style="margin-right: 1%;">
                        <a asp-controller="Login" asp-action="Logout" class="btn btn-secondary my-2 my-sm-0" type="text/asp">Cerrar Sesión</a>
                    </div>
                </div>
        </nav>
    </header>



    <div class="container-layout-admin" style=" width: 100%;">
        <main role="main" class="pb-3" style=" margin-bottom: -2%;">
            @RenderBody()
        </main>
    </div>


@*     <section id="perfilUsuario">
        <h1 class="titulo">Información de Perfil</h1>


        <div class="contenedor perfil-info">
        <div class="contenedor-datos-perfil">               
           <label class="col-sm-2 col-form-label titulo-perfil">Nombre:</label>
            <input id="nombre" type="text" readonly="" class="form-control-plaintext" id="nombrePerfil" value="Limberth Isaias Hernandez Mora">
            <label class="col-sm-2 col-form-label titulo-perfil">Identificación:</label>
            <input id="identificación" type="text" readonly="" class="form-control-plaintext" id="emailPerfil" value="20990111">
            <label class="col-sm-2 col-form-label titulo-perfil">Teléfono:</label>
            <input id="telefono" type="text" readonly="" class="form-control-plaintext" id="telefonoPerfil" value="88888822">
            <label class="col-sm-2 col-form-label titulo-perfil">Correo Electrónico:</label>
            <input id="email" type="text" readonly="" class="form-control-plaintext" id="emailPerfil" value="usuario@inicial.com">
            <label class="col-sm-2 col-form-label titulo-perfil">Rol:</label>
            <input id="email" type="text" readonly="" class="form-control-plaintext" id="rolPerfil" value="Administrador">
        </div>

            <div style="width:50%;">
                <img src="~/media/img/perfildefault.png">
        </div>
        </div>

        <div class="svg-wave" style="height: 150px; overflow: hidden; margin-top: -6%;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                      style="stroke: none; fill: #2C3E50;"></path>
            </svg>
        </div>
    </section> *@


    <section id="registroMascota">
        <h1 class="titulo">Registro de Mascotas</h1>


        <div class="contenedor mascota-info">
            <div class="contenedor-registro-mascota">
                <form action="" class="registro-mascota">
                    <label class="col-sm-2 col-form-label titulo-perfil">Nombre de la mascota:</label>
                    <input type="text" class="form-control" id="nombre" style="margin-bottom: 2%;">
                    <label class="col-sm-2 col-form-label titulo-perfil">Raza:</label>
                    <input type="email" class="form-control" id="raza" style="margin-bottom: 2%;">
                    <label class="col-sm-2 col-form-label titulo-perfil">Fecha de nacimiento:</label>
                    <input type="date" class="form-control" id="fechaNacimiento">
                    <label class="col-sm-2 col-form-label titulo-perfil">Nivel de agresividad:</label>
                    <input type="number" class="form-control" id="agresividad">
                    <label class="col-sm-2 col-form-label titulo-perfil">Descripción:</label>
                    <textarea class="form-control" id="descripcion" rows="3" style="height: 145px;" spellcheck="false"></textarea>
                    <div class"fotos-registro-mascotas">
                        <label class="col-sm-2 col-form-label titulo-perfil">Fotos de la mascota:</label>
                        <input type="file" class="form-control fotos-mascotas-formulario" id="fotoMascota">
                        <input type="file" class="form-control fotos-mascotas-formulario" id="fotoMascota2">
                    </div>
                    <button type="submit" class="btn btn-primary" id="boton-enviar">Registrar</button>
                </form>

            </div>

            <div id="contenedorListaMascotas">
                <h2>Mascotas Actuales</h2>
                <table class="table table-hover tabla-mascotas-registro">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Raza</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Agresividad</th>
                            <th scope="col">Activo</th>
                            <th scope="col">Inactivo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-active">
                            <td>Toto</td>
                            <td>Labrador</td>
                            <td>4 meses</td>
                            <td>1</td>
                            <td>  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"></td>
                            <td>  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"></td>
                        </tr>
                        <tr class="table-active">
                            <td>Yoda</td>
                            <td>Bull Terrier</td>
                            <td>10 años</td>
                            <td>4</td>
                            <td>  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"></td>
                            <td>  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"></td>
                        </tr>
                        <tr class="table-active">
                            <td>Kobe</td>
                            <td>Labrador</td>
                            <td>3 años</td>
                            <td>3</td>
                            <td>  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"></td>
                            <td>  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"></td>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>


        <div>
        <div>
        <div class="svg-wave" style="height: 150px; overflow: hidden; margin-top: -6%;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                      style="stroke: none; fill: #2C3E50;"></path>
            </svg>
        </div>
        </div>
        </div>
    </section>

@*     <footer class="border-top footer text-muted">
        <div class="svg-wave" style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                      style="stroke: none; fill: #2C3E50;"></path>
            </svg>
        </div>
    </footer> *@



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
