@{
    ViewBag.Title = "";
    Layout = "../Shared/_LayoutDashboard.cshtml";
}

<section id="contenedorListaMascotas">
    <h1 class="titulo" style="margin-bottom: 4%">Dispositivos Actuales</h2>
    <table class="table table-hover tabla-servicios-registro">
        <thead>
            <tr>
                <th scope="col">Nombre del Dispositivo</th>
                <th scope="col">Número de Serie</th>
                <th scope="col">Estado</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Reserva Asignada</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <td>Collar para perros</td>
                <td>123456789</td>
                <td>Activo</td>
                <td>Disponible</td>
                <td>Sin reserva asignada</td>
                <td><a asp-controller="Dispositivos" asp-action="EdicionDispositivos" type="submit" class="btn btn-primary">Editar</a></td>
            </tr>
            <tr class="table-active">
                <td>Collar para perros</td>
                <td>987654321</td>
                <td>Activo</td>
                <td>Disponible</td>
                <td>Sin reserva asignada</td>
                <td><a asp-controller="Dispositivos" asp-action="EdicionDispositivos" type="submit" class="btn btn-primary">Editar</a></td>
            </tr>
            <tr class="table-active">
                <td>Collar para gatos</td>
                <td>456789123</td>
                <td>Activo</td>
                <td>No disponible</td>
                <td>12</td>
                <td><a asp-controller="Dispositivos" asp-action="EdicionDispositivos" type="submit" class="btn btn-primary">Editar</a></td>
            </tr>
        </tbody>
    </table>
</section>

<div class="svg-wave" style="height: 150px; overflow: hidden; margin-top: 10%;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
              style="stroke: none; fill: #2C3E50;"></path>
    </svg>
</div>