@model DTO.Models.Usuario
@{
    ViewBag.Title = "";
    Layout = "../Shared/_LayoutLandingVacio.cshtml";
}

@using (Html.BeginForm("RecuperarContrasena", "Login", FormMethod.Post)) // Esta linea crea un form que cuando se llena, crea un post donde pasa por el controller de login al metodo login.
{
    <div style="text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h2> Login para PetsInc </h2>

        <div>
            @if (ViewBag.Message != null)
            {
                <div style="color:red">@ViewBag.Message</div>
                // esta parte es para poder poner algun error de validacion en caso de que no haya info de usuario o la contraseña este mal
            }
        </div>

        <table>
            <tr>
                <td>@Html.LabelFor(u=> u.email, "Email:")</td>
                <td>@Html.TextBoxFor(u=> u.email)</td>
            </tr>
            
            <tr>
                <td>
                    <button id="btnLogin" type="submit" class="btn btn-success">Recuperar</button>
                    <a class="btn btn-secondary" asp-area="" asp-controller="Login" asp-action="Cancel">Cancel</a>
                   
                </td>
            </tr>
        </table>
    </div>
}