@{
    ViewBag.Title = "";
    Layout = "../Shared/_LayoutDashboard.cshtml";
}

<section id="registroMascota">
    <h1 class="titulo">Registro de Mascotas</h1>


    <div class="contenedor mascota-info">
        <div class="contenedor-registro-mascota">
            <form action="" class="registro-mascota">
                <label class="col-sm-2 col-form-label titulo-perfil">Nombre de la mascota:</label>
                <input type="text" class="form-control" id="nombre" style="margin-bottom: 2%;">
                <label class="col-sm-2 col-form-label titulo-perfil">Raza:</label>
                <input type="email" class="form-control" id="raza" style="margin-bottom: 2%;">
                <label class="col-sm-2 col-form-label titulo-perfil">Fecha de nacimiento:</label>
                <input type="date" class="form-control" id="fechaNacimiento">
                <label class="col-sm-2 col-form-label titulo-perfil">Nivel de agresividad:</label>
                <input type="number" class="form-control" id="agresividad">
                <label class="col-sm-2 col-form-label titulo-perfil">Descripción:</label>
                <textarea class="form-control" id="descripcion" rows="3" style="height: 145px;" spellcheck="false"></textarea>
                <div class"fotos-registro-mascotas">
                    <label class="col-sm-2 col-form-label titulo-perfil">Fotos de la mascota:</label>
                    <input type="file" class="form-control fotos-mascotas-formulario" id="fotoMascota">
                    <input type="file" class="form-control fotos-mascotas-formulario" id="fotoMascota2">
                </div>
                <button type="submit" class="btn btn-primary" id="boton-enviar">Registrar</button>
            </form>

        </div>
    </div>


</section>